* {
    margin: 0;
    padding: 0;
}

main {
    background-color: blue;
    padding: 1rem;
}

section {
    background-color: cadetblue;
    padding: 1rem;
    position: relative;
}

/*posicionamiento: position*/

article {
    background-color: dodgerblue;
    padding: 1rem;
    border: 1px solid whitesmoke;
}

.item-2 {
    position: sticky;
    top: 0;
}



