body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: pink;
}

h1 {
    text-align: center;
    color: rgb(224, 12, 101);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    resize: none;
    height: 100px;
    background-color: #fde2fa;
    color: black;
}

#commentsContainer {
    margin-top: 20px;
}

.comment {
    border: 3px solid #eb3cd3;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fde2fa;
    position: relative;
}

.comment .deleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: rgb(250, 139, 231);
    color: rgb(0, 0, 0);
}
