.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
}

.box{
    background-color: cornflowerblue;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    background-color: rgb(43, 21, 241);
}

.titles-container h1{
    color: crimson;
}
