.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container{
    width: 20rem;
}

.image-container img{
    width: 100%;
}

.main-content button{
    background-color: rgb(245, 38, 79);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
}