* {
    margin: 0;
    padding: 0;
}

/*transform*/ 

main, section, .transform {
    padding: 1rem;
}

main {
    background-color: aqua;
    height: 100vh;
}

section {
    background-color: forestgreen;
    height: 400px;
}

/*transform*/
.transform {
    background-color: rgb(156, 70, 236);
    width: 100px;
    height: 100px;
    /*transition: all .2s ease-out; */
}

.transform {
    transform: translate();
    background-color: rgb(243, 243, 62);
    width: 100px;
    height: 100px;
    animation: movimiento 2s ease-in 0s infinite alternate running;
    
}

.transform:hover {
    animation-play-state: paused;
}

/* transiciones*/

/* .transform:hover {
    background-color: chocolate;
    border-radius: 50px;
} */



/*animaciones*/
@keyframes movimiento {
    0% {
        transform: translate(0) ;
    }

    33% {
        transform: translate(100px, 0);
        background-color: fuchsia;
    }
    66% {
        transform: translate(100px, 100px);
        background-color: gainsboro;
    }

    100% {
        transform: translate(0, 100px);
        background-color: rgb(228, 11, 29);
    }
}
